@import "./examvariables";

* {
  color: black;
  text-decoration: none;
  margin: 0;

  //styling for knapper hentet fra https://markodenic.com/tools/buttons-generator/
  .button {
    height: 20px;
    color: $white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
  }

  .button:hover {
    background: $white;
    color: #212529;
  }

  img {
    border: 1px solid $black;
  }
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;

  h2 {
    padding: 10px;
    margin: 10px;
  }

  .dash {
    max-width: $maxwidth;
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    margin: 10px auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $headerfont;
    margin-bottom: 15px;
    background-color: $black;

    nav {
      margin: 0;
    }

    a {
      margin-right: 10px;
      color: $white;
    }

    nav {
      display: flex;
      justify-content: flex-end;
    }
  }

  .section-header {
    display: flex;
    align-items: center;
  }

  .gameshop-article {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 1px 1px 45px #000;
    border-radius: 25px 25px 25px 25px;

    .game-article {
      margin: 10px;
      border: 1px solid $black;
      padding: 5px;
      img {
        max-width: 300px;
        height: 180px;
        display: block;
        margin: auto;
      }

      .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5px;

        h2 {
          margin: 0;
          margin-bottom: 10px;
        }

        div {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          p {
            margin: 3px;
            margin-bottom: 10px;
          }
        }

        a {
          margin: 0;
        }
      }
    }
  }

  .gameshop-site {
    background-color: $light-grey;
    padding: 5px;
    max-width: $maxwidth;
    margin-bottom: 15px;

    .section-header {
      display: flex;
      align-items: center;
      max-height: 90px;
    }
  }

  .mygames {
    flex: 1 1 70%;

    .mygames-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .gamelink {
        margin: 5px;
      }

      .mygames-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 400px;
        max-width: 265px;
        height: 100%;
        border: 1px solid;
        padding: 5px;
        margin: 5px;
        background-color: $light-grey;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        h2 {
          text-align: center;
        }

        div {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          background-color: $dark-grey;
          margin: 5px;

          .p-item {
            color: $white;
            margin: 3px;
          }
        }
      }
    }
  }

  aside {
    flex: 1 1 30%;
    padding-left: 20px;
    max-width: 300px;

    section {
      display: flex;
      flex-direction: column;

      .gamelink {
        margin: 5px;
      }

      .favorite-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 400px;
        height: 100%;
        border: 1px solid;
        padding: 5px;
        background-color: $light-grey;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        div {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          background-color: $dark-grey;
          margin: 5px;
          border-radius: 25px 25px 25px 25px;
          .p-item {
            margin: 5px;
            color: $white;
          }
        }
      }
    }
  }
}

.dash-gamepage {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  .gamepage-article {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
}

.mygames-site {
  margin: 10px;

  .mygames-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .gamelink {
      margin: 5px;
    }

    .mygames-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 400px;
      max-width: 290px;
      height: 100%;
      border: 1px solid;
      padding: 5px;
      margin: 5px;
      background-color: $light-grey;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      h2 {
        text-align: center;
        font-size: $headerfont;
      }

      div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        background-color: $dark-grey;
        margin: 5px;

        .p-item {
          color: $white;
          margin: 3px;
        }
      }
    }
  }
}

main {
  margin-bottom: 60px;
}

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: $black;
  height: 100%;
  width: 100%;
  max-height: 45px;

  div {
    color: $white;
    a {
      margin: 5px;
    }
  }
}

@media (max-width: 600px) {
  .dash {
    display: flex;
    flex-direction: column;
  }
  .gameshop,
  .mygames,
  aside {
    width: 100%;
  }
  aside {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .dash {
    flex-direction: column;

    .mygames {
      order: 1;
      flex: 1 1 auto;
    }

    aside {
      order: 2;
      flex: 1 1 auto;
    }
  }
}
